# این فایل را به keystore.properties کپی کنید و مقادیر خودتان را بگذارید.
# فایل keystore.properties و خود فایل .jks نباید در گیت قرار بگیرند.
storeFile=messenger-release.jks
storePassword=رمز-انبار-کلید
keyAlias=messenger
keyPassword=رمز-کلید
